<mat-card>
    <h1>Create an account</h1>
    <form class="example-form" [formGroup]="form" (ngSubmit)="submit()">
        <div formGroupName="account">
            <h2 class="group-header">Account</h2>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input formControlName="email" type="email" matInput placeholder="Ex. pat@example.com">
                <mat-error *ngIf="form.get('account.email')?.touched && form.get('account.email')?.hasError('email')">
                    Please enter a valid email address
                </mat-error>
                <mat-error
                    *ngIf="form.get('account.email')?.touched && form.get('account.email')?.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input formControlName="password" type="password" matInput placeholder="......">
                <mat-error
                    *ngIf="form.get('account.password')?.touched && form.get('account.password')?.hasError('minlength')">
                    Password has to contain at least <strong>{{
                        form.get('account.password')?.errors?.minlength?.requiredLength }}</strong> simbols. Please
                    enter a valid
                    password. </mat-error>
                <mat-error
                    *ngIf="form.get('account.password')?.touched && form.get('account.password')?.hasError('required')">
                    Password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
                <mat-label>Password confirmation</mat-label>
                <input formControlName="passwordConfirm" type="password" matInput placeholder="......">
                <mat-error *ngIf="form.get('account.passwordConfirm')?.hasError('passwordsNotEqual')">
                    Passwords are <strong>not equal</strong>
                </mat-error>
            </mat-form-field>
        </div>

        <div formGroupName="profile">
            <h2 class="group-header">Profile</h2>
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input formControlName="name" type="text" matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Phone</mat-label>
                <input formControlName="phone" prefix="+7" mask="(000) 000-00-00" matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>City</mat-label>
                <input formControlName="city" type="text" matInput>
            </mat-form-field>
        </div>

        <div formGroupName="company">
            <h2 class="group-header">Company</h2>
            <mat-form-field class="example-full-width">
                <mat-label>Company Name</mat-label>
                <input formControlName="companyName" type="text" matInput>
                <mat-error
                    *ngIf="form.get('company.companyName')?.touched && form.get('company.companyName')?.hasError('required')">
                    Company Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Form of Incorporation</mat-label>
                <mat-select formControlName="formOfInc">
                    <mat-option value="LE">Legal entity</mat-option>
                    <mat-option value="IE">Individual entrepreneur</mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>INN</mat-label>
                <input formControlName="iNN" type="text" matInput>
                <mat-error *ngIf="form.get('company.iNN')?.touched && form.get('company.iNN')?.hasError('minlength')">
                    INN has to contain <strong>{{
                        form.get('company.iNN')?.errors?.minlength?.requiredLength }}</strong> simbols. Please
                    enter a valid INN.
                </mat-error>
                <mat-error *ngIf="form.get('company.iNN')?.touched && form.get('company.iNN')?.hasError('maxlength')">
                    INN has to contain <strong>{{
                        form.get('company.iNN')?.errors?.maxlength?.requiredLength }}</strong> simbols. Please
                    enter a valid INN.
                </mat-error>
                <mat-error *ngIf="form.get('company.iNN')?.touched && form.get('company.iNN')?.hasError('required')">
                    INN is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" *ngIf="form.get('company.formOfInc')?.value !== 'IE'">
                <mat-label>KPP</mat-label>
                <input formControlName="kPP" type="text" matInput>
                <mat-error *ngIf="form.get('company.kPP')?.touched && form.get('company.kPP')?.hasError('minlength')">
                    KPP has to contain <strong>{{
                        form.get('company.kPP')?.errors?.minlength?.requiredLength }}</strong> simbols. Please
                    enter a valid KPP.
                </mat-error>
                <mat-error *ngIf="form.get('company.kPP')?.touched && form.get('company.kPP')?.hasError('maxlength')">
                    KPP has to contain <strong>{{
                        form.get('company.kPP')?.errors?.maxlength?.requiredLength }}</strong> simbols. Please
                    enter a valid KPP.
                </mat-error>
                <mat-error *ngIf="form.get('company.kPP')?.touched && form.get('company.kPP')?.hasError('required')">
                    KPP is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>OKPO</mat-label>
                <input formControlName="oKPO" type="text" matInput>
                <mat-error *ngIf="form.get('company.oKPO')?.touched && form.get('company.oKPO')?.hasError('minlength')">
                    OKPO has to contain <strong>{{
                        form.get('company.oKPO')?.errors?.minlength?.requiredLength }}</strong> simbols. Please
                    enter a valid OKPO.
                </mat-error>
                <mat-error *ngIf="form.get('company.oKPO')?.touched && form.get('company.oKPO')?.hasError('maxlength')">
                    OKPO has to contain <strong>{{
                        form.get('company.oKPO')?.errors?.maxlength?.requiredLength }}</strong> simbols. Please
                    enter a valid OKPO.
                </mat-error>
                <mat-error *ngIf="form.get('company.oKPO')?.touched && form.get('company.oKPO')?.hasError('required')">
                    OKPO is <strong>required</strong>
                </mat-error>
            </mat-form-field><br>
            <mat-form-field class="example-full-width">
                <mat-label>Foundation Date</mat-label>
                <input formControlName="foundationDate" type="date" matInput>
            </mat-form-field>
        </div>

        <div formArrayName="contacts">
            <div class="panel">
                <h2 class="group-header">Contacts</h2>
                <button class="group-header" (click)="addContact()" mat-icon-button color="primary">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <div *ngFor="let control of getContactsControl(); let i = index" [formGroupName]="i">
                <div class="panel">
                    <h3 class="group-header">Contact №{{ i + 1 }}</h3>
                    <button class="group-header" (click)="removeContact(i)" mat-icon-button color="accent">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>

                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input formControlName="contactName" type="text" matInput>
                    <mat-error
                        *ngIf="form.get('contacts.contactName')?.touched && form.get('contacts.contactName')?.hasError('required')">
                        Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Position</mat-label>
                    <input formControlName="contactPosition" type="text" matInput>
                    <mat-error
                        *ngIf="form.get('contacts.contactPosition')?.touched && form.get('contacts.contactPosition')?.hasError('required')">
                        Position is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field class="example-full-width">
                    <mat-label>Phone</mat-label>
                    <input formControlName="contactPhone" type="phone" matInput prefix="+7" mask="(000) 000-00-00">
                    <mat-error
                        *ngIf="form.get('contacts.contactPhone')?.touched && form.get('contacts.contactPhone')?.hasError('required')">
                        Phone is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

        </div>
        <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">Submit</button>
    </form>
</mat-card>
<br>

<!-- <pre>{{ form.value | json }}</pre>
<pre>{{ form.valid | json }}</pre>
<pre>{{ form.get('account.password')?.value | json }}</pre>
<pre>{{ form.get('account.passwordConfirm')?.value | json }}</pre> -->