.mat-form-field {
  min-width: 95%;
}
.panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group-header {
  margin: 0.5rem 0;
}
.mat-card {
  margin: 2rem auto;
  padding: 1.5rem;
  width: 350px;
}
